<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS 控制器</title>

    <script src="../js/jquery-2.1.3.min.js"></script>
    <script src="../js/angular/angular.min.js"></script>
</head>
<body>

    <!--演示了一个带有 lastName 和 firstName 这两个属性的控制器对象-->
    <!--<div ng-app="myApp" ng-controller="myCtrl">

        名:  <input type="text" ng-model="firstName"><br>
        姓:  <input type="text" ng-model="lastName"><br>
        <br>
        姓名: {{firstName + " " + lastName}}

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) { //myCtrl 函数是一个 JavaScript 函数。
            $scope.firstName = "John";
            $scope.lastName = "Doe";
        });
    </script>-->

    <!--控制器也可以有方法（变量和函数）：-->
    <!--<div ng-app="myApp" ng-controller="personCtrl">

        名: <input type="text" ng-model="firstName"><br>
        姓: <input type="text" ng-model="lastName"><br>
        <br>
        姓名: {{fullName()}}

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('personCtrl', function($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
            $scope.fullName = function() {
                return $scope.firstName + " " + $scope.lastName;
            }
        });
    </script>-->

    <!--外部文件中的控制器-->
    <div ng-app="myApp" ng-controller="namesCtrl">

        <ul>
            <li ng-repeat="x in names">
                {{ x.name + ', ' + x.country }}
            </li>
        </ul>

    </div>
    <script src="./js/namesController.js"></script>

</body>
</html>