<div id="user_list_page">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">普通用户</div>
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
                <table class="table table-bordered table-hover table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>1</td><td>normal</td><td>Otto</td><td>@mdo</td></tr>
                    <tr><td>2</td><td>normal</td><td>Otto</td><td>@mdo</td></tr>
                    <tr><td>3</td><td>normal</td><td>Otto</td><td>@mdo</td></tr>
                    <tr><td>4</td><td>normal</td><td>Otto</td><td>@mdo</td></tr>
                    <tr><td>5</td><td>normal</td><td>Otto</td><td>@mdo</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">星级用户</div>
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
                <table class="table table-bordered table-hover table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active"><td>1</td><td>active</td><td>Otto</td><td>@mdo</td></tr>
                    <tr class="success"><td>2</td><td>success</td><td>Otto</td><td>@mdo</td></tr>
                    <tr class="info"><td>3</td><td>info</td><td>Otto</td><td>@mdo</td></tr>
                    <tr class="warning"><td>4</td><td>warning</td><td>Otto</td><td>@mdo</td></tr>
                    <tr class="danger"><td>5</td><td>danger</td><td>Otto</td><td>@mdo</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">未认证用户</div>
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
                <table class="table table-bordered table-hover table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active"><td>1</td><td>active</td><td>Otto</td><td>@mdo</td></tr>
                    <tr class="success"><td>2</td><td>success</td><td>Otto</td><td>@mdo</td></tr>
                    <tr class="info"><td>3</td><td>info</td><td>Otto</td><td>@mdo</td></tr>
                    <tr class="warning"><td>4</td><td>warning</td><td>Otto</td><td>@mdo</td></tr>
                    <tr class="danger"><td>5</td><td>danger</td><td>Otto</td><td>@mdo</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5 col-sm-push-6">
            <nav aria-label="Page navigation" class="pull-right">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">{{message.num}}</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>